# dependencies
node_modules

# opennext
.open-next

# misc
.DS_Store

# local env files
.env*.local

# built files
dist

# coverage
coverage

# cdk
.cdk.staging
cdk.out

# generated type validators
**/validators/types/generated
